.login-container {
    width: 100%;
    min-height: 100vh;
    background: white;
}

.logo {
    display: flex;
    justify-content: flex-end;
    padding-right: 280px;
    padding-top: 20px;
}

.logo img {
    width: 120px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 120px;
}

.vehicle img {
    width: 650px;
}

.login-box {
    width: 350px;
}

.login-box input {
    width: 270px;
    height: 20px;
    margin: 10px;
}

.login-box h2 {
    color: #1b7c7c;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: Arial;
}

.btn {
    width: 270px;
    height: 20px;
    background-color: #4f4c4c;
    border: none;
    color: white;
}

