* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-container {
    min-height: 100vh;
    background: #fff;
}

.logo {
    text-align: center;
    padding: 20px 0;
}

.logo img {
    width: 120px;
}

.conteudo {
    display: flex;
    height: calc(100vh - 100px);
}

/* ESQUERDA */

.lado-esquerdo {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
}

.lado-esquerdo img {
    width: 500px;
    max-width: 90%;
    margin-top: 170px;
}

/* DIREITA */

.lado-direito {
    width: 50%;
    background: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
}

/* FORM */

.formulario {
    width: 550px;
}

.formulario h1 {
    text-align: center;
    color: #003da5;
    margin-bottom: 40px;
}

/* CAMPOS */

.linha-campo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.campo {
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid #d7d7d7;
    border-radius: 7px;
    padding: 4px;
}

.campo:focus-within {
    border: 2px solid #000;
}

.icone {
    margin-right: 12x;
}

.campo input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
}

.olho {
    cursor: pointer;
}

.info {
    margin-left: -15px;
    color: #003da5;
    font-size: 15px;
    position: relative;
    left: 20px;
}

/* SWITCH */

.linha-switch {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.texto-switch {
    flex: 1;
    text-align: center;
    left: 45px;
    position: relative;
}

/* BOTÃO */

.btn-entrar {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 4px;
    background: #003da5;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer
}

.btn-entrar:hover {
    background-color: #032868;
}

/* SWITCH */

.switch {
    position: relative;
    width: 52px;
    height: 28px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    inset: 0;
    background: #d8d8d8;
    border-radius: 30px;
    cursor: pointer;
}

.slider::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    left: 3px;
    top: 3px;
    background: white;
    border-radius: 50%;
    transition: .3s;
}

.switch input:checked+.slider {
    background: #003da5;
}

.switch input:checked+.slider::before {
    transform: translateX(24px);
}