.login-container {
    width: 100%;
    min-height: 100vh;
    background: white;
}

.logo {
    text-align: center;
    padding-top: 20px;
}

.logo img {
    width: 120px;
}

.content {
    display: flex;
    justify-content: center;
    
}